.section1{
    margin-top: 150px;
    margin-bottom: 50px;
}
.backbutton{
    cursor: pointer;
    margin-top: 10px !important;
    margin-bottom: 15px !important;
    border-radius: 10px !important;
background: linear-gradient(to right, #0575E6, #00F260); 
}
.backbutton:hover{
    transform: translateX(-2px);
}
.backicon:hover{
    transform: translateX(-1px);
}
.leftimg1{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    /* position: relative; */
    
}
.leftimg1:hover{
    transform: translateY(-2px);
}
.Bookingbtn{
    float: right;
    border-radius: 10px !important;
    margin-top: 10px !important;
    color: white;
    background-color: #e35b26;
}
.Bookingbtn:hover{
    background-color: #e35b26;
    transform: translateY(-2px);
}
.cardbutton2{
    background: linear-gradient(to right, #0575E6, #00F260); 
    color: white;
}.cardbutton2:hover{
    transform: translateY(-1px) ;
}
.agetext{
    float: center;
    font-weight: 600;
    color: #19aff4;
    font-size: 18px;
}
.rating{
    width: 100px;
    justify-content: center;
    border-radius: 10px;
    display: flex;
    padding: 5px;
    background-color: #e35b26;
    color: white;
}
.boxicon{
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
}
.paragraphdiv{
    /* border: 1px solid grey; */
   
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0)0px 3px 6px;
    height: 120px;
    color: black;

}
.paragraphtext{
    /* padding-top: 10px; */
    font-weight: 600;
    margin-top: auto;
    margin-bottom: auto;
}
.paragraphtext1{
    font-weight: 600;
    margin-top: 10px;
}
.staricons{
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 8px;

}
.timeicons{
    color: #e35b26;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 8px;

}
.timediv{
    margin-top: 10px;
    display: flex;
}
.locationicons{
    color: #e35b26;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 8px;

}
.locationdiv{
    display: flex;
    margin-top: 10px;
}
.priceoffer{
    /* border: 1px solid grey; */
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0)0px 3px 6px;
    height: 100px;

}
.delprice{
    color: #525353;
}
.blog_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}.startext{
    font-size: 70px;
    margin: 0;
margin-top: -25px;
}
.blogSpan{
    margin:0px 25px 0 0;
}
.blog_rating{
    background-color: #e35b26;
    padding: 5px 15px;
    color: #fff;
    border-radius: 5px;
    border: none;
}
.fivestar{
    font-size: 24px;
    gap: 5px;
}
.blog_star{
    margin-top: -24px;
}
.blog_age{
    border: 1px solid #00adee;
    padding: 5px 15px;
    color: #00adee;
    border-radius: 5px;
}
.blog_cat{
    border: 1px solid #e35b26;
    padding: 5px 15px;
    color: #e35b26;
    border-radius: 5px;
}
.price_title{
    background-color: #e8ebef;
    color: #000;
}
.price_txt{
    color: #000!important;
    margin: 0;
    padding: 10px;

}
.blog_title1{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.blog_title2{
    font-size: 18px;
    font-weight: 500;
}
.map{
    width:100%;
    height:450px;
    border:none;
}
.days{
    font-size: 20px;
    background: #00adee;
    padding: 16px;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    color: #fff;
}
.b_icon {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.price{
    color: red;
}
.socialicondiv{
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    background-color: #F6F6F6;
    width: 90%;
    float: right;
    border-radius: 10px;
}
.socialicon{
    display: flex;
    gap: 10%;
 padding: 20px;
 justify-content: center;
 color: #222;
 font-size: 34px;
 
}
.icon{
    font-size: 34px !important;
}
.icon:hover{
    transform: translateY(-2px);
}
.iconheading{
    color: #e35b26;
   
}
.secondheading{
    color: #9C5CA7;
}
.card{
    border-radius: 10px !important;
    overflow: hidden;
    border: none !important;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    width: 90%;
    float: right;
}
.cardimg{
    height: 230px !important;
    position: relative;
}
.cardimg2{
    height: 70px;
    width: 70px;
    position: absolute;
    right: 0;
}
.dealimg{
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 5px;

}
.card:hover{
    transform: translateY(-2px);
}
/* booking2  */

.rightsection{
    border-radius: 10px !important;
    background-color: #F6F6F6;
    width: 100%;
    
}
.rightsectiondiv{
    margin: auto !important;
}
.schedulebutton{
    border-radius: 3px !important;
    margin-top: -3px !important;
    border: none;
    background-color: white;
    box-shadow: rgb(0, 0, 0)0px 2px 4px;
}
.schedulebutton:hover{
    transform: translateY(-1px);
}

.pricediv{
    background-color: white;
    border-radius: 3px;
    box-shadow: rgb(0, 0, 0)0px 2px 4px;
    height: 50px;
}
.totalprice{
    padding: 10px;
    float: left;
}
.aedprice{
    padding: 10px;
    float: right;
    color: red;
}
.checkboxlink{
    color: rgb(196, 54, 54);
    cursor: pointer;
    text-decoration: underline;
    
}
.submitbtn{
    width: 100% !important;
    margin-top: 20px;
    margin-bottom: 20px !important;
}