.a{
    margin-top: 140px;
    position:fixed; /* Position them relative to the browser window */
    left: -77px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 100px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: black; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  .a{
    top: 20px;
    background-color:#fff;
  }
  /* ...............................HomeCrouselCss................................*/

/*.......... CrouselParagraphCss */
.crouselParagraph {
  display: -webkit-box;
  max-width: auto;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* margin-bottom: 270px; */
}


/* ............Crousel images css */
.crouselImages {
  width: 100%;
  height: 550px;
  filter: brightness(50%);
  margin-top: 122px;
  object-fit: cover;
}

.button{
  border: 1px solid white !important;
  border-radius: 25px;
  color: #fff;
  padding:5px 50px;
  /* margin-top: -50%; */
}
.button:hover{
  color: green !important;
  background-color: #fff !important;
}
@media(min-width:1900px){
.crouselImages{
  height: 700px;
  object-fit: cover;
}  

}
@media(max-width:480px){
  .crouselImages{
      height: 375px;
  }
}


