/* kidzappFeed */
 .row {
  border-radius: 40px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.globeRow {
  height: 400px;
}

.column {
  padding: 0;
}

.col1img {
  width: 100%;
 max-height: 400px;
}

 .col2 {
  background-color: #00aff4;
  max-height: 400px;
}
.col2row3{
  margin-top: 40px;
  margin-left: auto;
}

.col2text {
  color: #fff;
}
.col2h1 {
  font-size: 50px;
  font-weight: bold;
  margin-top: 60px;
}
.col2p {
  font-size: 18px;
  margin-top: -8px;
  margin-bottom: 20px;
}
.searchbarrow {
  border-radius: 25px !important;
  overflow: hidden;
 max-width: 735px;
  margin-left: 8px;
}
.searchinput {
  border-radius: 0;
}
.searchbtn {
  background-color: #e25b25;
  color: #fff;
  font-weight: bold;
  width: 40%;
  border-radius: 0;
}
.kidzappFeed .content {
  justify-content: center;
  align-items: center;
}
.kidzFeedValues {
  color: #fff;
}
/* .valueh2 {
  font-weight: 900;
  font-size: 36px;
  margin: 0;
}
.valuep {
  font-weight: 500;
  font-size: 18px;
} */
.second {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
@media (max-width:1200px){
  .searchbarrow{
    width: 520px;
  }
}
@media  (max-width: 992px) {
  .col1img {
    height: 400px;
    object-fit: cover;
  }
  .searchbarrow{
    width: 400px;
    margin-left: -20px;
  }
}

@media (max-width: 767.98px) {
  .globeRow {
    margin: 0px;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
  }
  .col1img {
    height: 400px;
    object-fit: cover;
  }
  .col2row3{
    margin-top: 0px;
    margin-left: 0px;
  }
  /* .valuesm4 { */
    /* width: 33.33%; */
    /* text-align: center; */
  /* } */
  .searchbarrow{
    width: 400px;
  }
}

@media (max-width: 575.98px) {
  .globeRow {
    margin: 0px;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
  }
  .col1img {
    height: 200px;
    object-fit: cover;
  }
  .searchbarrow{
    width: 280px;
  }
  .col2row3{
    margin-top: 0px;
    margin-left: 0px;
    flex-shrink: 0;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
    display: none;
  }
}
@media(max-width:360px){
  .searchbarrow{
    margin-left: -46px;
  }
}