.section1{
    margin-top: 133px;
}
.background{
    background-image: url("https://kidzapp.com/images/blog-banner.jpg");
    height: 100px;
    width:auto;
}
.colStyle{
    padding-left:0px;
    padding-right:0px;
    text-align: center;
}
.searchbar{
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
}
.section2{
    margin-top: 20px;
}
.cardHeading{
    color: #007bfb;
}
.cardFooter{
    display:inline-flex;
    
}
.cardFooter .Badge{
    color: #fff;
    font-size: 14px;
    line-height: 1.28;
    background-color: #3f3e3e;
    border-radius: 12px;
    padding: 4px 8px;
    display: inline-block;
    margin-left: 10px;
    min-width: 40px;
    text-align: center;
}
.cardText{
    color:#965da4;
    height:60px;
    
}
.playImage{
    position: absolute;
    top:25%;
    left:50%;
    transform: translate(-50%,-50%);
    
}
.playImage1{
    border-radius: 15px;
    position: absolute;
    top:50% !important;
    left:50%;
    transform: translate(-50%,-50%);
    
}
.video{
    border-radius: 15px;
}

.videoShareIcon{
    position: absolute;
    top: 20px;
    right:10px;
}
.videoLikeIcon{
    position: absolute;
    top:20px;
    right: 60px;
}
.FormRow{
    padding-top: 30px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.Container{
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}
.section{
    padding-bottom:30px !important;
}
.heading1{
    font-size: 50px;
    margin-left: 30px;
    color: #484848;
    font-weight: 500;
    /* line-height: 1.17; */
}
.heading2{
    font-size: 40px;
    color: #484848;
    font-weight: 500;
}
.SeeAllButton{
    background-color: white;
    border: 1px solid #007bfb;
    color:#007bfb;
    width: 100px;
    border-radius: 4px;
}
.SeeAllButton1{
    background-color: white;
    border: 1px solid #007bfb;
    color:#007bfb;
    width: 100px;
    border-radius: 4px;
}
.SeeAllButton:hover{
    background-color: #007bfb;
    color: white;
}
.cards{
    /* width:22rem; */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
     border-radius:8px;
     margin-bottom: 30px;
}
.imageStyle{
    width: 22px;
    height: 22px;
}
@media (max-width: 1199.98px) {
    .imageStyle{
        width: 20px;
        height: 20px;
        margin-left: 2px;
        margin-right: 2px;
    }
    .cardFooter .Badge{
        color: #fff;
        font-size: 8px;
        line-height:1.28;
        background-color: #3f3e3e;
        border-radius: 12px;
        padding: 4px 4px;
        display: inline-block;
        margin-left: 3px;
        min-width:30px;
        text-align: center;
    }
     .colStyle{
        padding-left:0px;
        padding-right:0px;
    }
    .cardHeading{
        color: #007bfb;
        font-size:20px !important;
    }
}
@media (max-width: 991.98px) {
    .imageStyle{
        width: 10px;
        height: 10px;
        margin-left: 2px;
        margin-right: 2px;
    }
    .cardFooter .Badge{
        color: #fff;
        font-size: 8px;
        line-height:1.28;
        background-color: #3f3e3e;
        border-radius: 12px;
        padding: 4px 4px;
        display: inline-block;
        margin-left: 3px;
        min-width:18px;
        text-align: center;
    }
     .colStyle{
        padding-left:0px;
        padding-right:0px;
    }
   
}

@media (max-width:767.98px) {
    .playImage1{
      width: 75px !important;
    }
    .cardHeading{
        color: #007bfb;
        font-size:20px !important;
    }
   
}
@media (max-width: 575.98px) {
    .heading2{
        font-size: 18px;
        color: #484848;
        font-weight: 500;
    }
    .heading1{
        font-size: 20px;
        margin-left: 30px;
        color: #484848;
        font-weight: 500;
        /* line-height: 1.17; */
    }
    .SeeAllButton{
        background-color: white;
        border: 1px solid #007bfb;
        color:#007bfb;
        width: 80px;
        border-radius: 4px;
        margin-bottom: 10px;
    }
    .playImage{
        position: absolute;
        top:25%;
        width: 40px;
        height: 40px;
        left:50%;
        transform: translate(-50%,-50%);
    }
    .imageStyle{
        width: 18px;
        height: 18px;
    }
    .cardFooter .Badge{
        color: #fff;
        font-size: 14px;
        line-height: 1.28;
        background-color: #3f3e3e;
        border-radius: 12px;
        padding: 4px 8px;
        display: inline-block;
        margin-left: 10px;
        min-width: 20px;
        text-align: center;
    }
    .colStyle{
        padding-left:0px;
        padding-right:0px;
        text-align: center;
    }
    .playImage1{
        width: 50px !important;
      }
      .videoLikeIcon{
        position: absolute;
        top:10px;
        width:40px;
        height: 40px;
        right: 60px;
    }
    .videoShareIcon{
        position: absolute;
        top: 10px;
        right:50px;
        width:10px !important;
        height:10px;
    }
    }



