.section1{
    margin-top: 130px;
}
.topbackground{
    height: 150px;
   position: relative;
    background: -webkit-linear-gradient(to right, #2193b0, #6dd5ed); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2193b0, #6dd5ed);
}
.mainheading{
    color: white;
    font-weight: 600;
    font-size: 46px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card {
	border-radius: 10px !important;
	overflow: hidden;
	border: none !important;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	width: 90%;
}