/* .................heading div */
.headingDiv{
  margin-top: 30px;
}
/* ..........heading style */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
.heading{
  text-align: center;
  font-size: 46px;
    line-height: 56px;
  font-weight: 600;
  color: #002240;
}
.h1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 15px auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;   
    font-weight: 600;
    color: black;
}
/* ........... handpicked bottom line */
.p{
  text-align: center;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 10px;
    
}

/* Animation */
.h1{
  animation: typewriter 5s steps(44) 1s 50 normal both,
             blinkTextCursor 600ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 12em;}
}
@keyframes blinkTextCursor{
  from{border-right-color:white;}
  to{border-right-color: black;}
}
/* button div */

.buttondiv{
height: 50px;
}

/* Button slider css */


.button14 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* background-image: linear-gradient(#f7f8fa ,#e7e9ec); */
  background-color: #fff;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  box-sizing: border-box;
  color: #0f1111;
  font-family: "Amazon Ember",Arial,sans-serif;
  height: 35px;
  font-size: 15.5px;
  padding: 1px 16px;
  text-align: center;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  touch-action: manipulation;
  margin: 2px 5px;
  width: -webkit-fill-available;
}

.button14:active {
  border-bottom-color: #a2a6ac;
}

.button14:active:hover {
  border-bottom-color: #a2a6ac;
}

.button14:hover {
  border-color: #a2a6ac #979aa1 #82858a;
  transform: translateY(-2px);
}

.button14:focus {
  border-color: #4100cd;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: 0;
}
.itemTitle{
  display: -webkit-box;
    max-width: auto;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.buttonRow{
  margin-top: 20px;
  margin-bottom: 30px;
}

/* cards css */
.cards{
  /* margin-left: 15px !important; */
  border-radius: 14px !important;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;

}
.cardImage{
  transform-origin: 50% 65%;
  transition: transform 3s, filter 1s ease-in-out;
  filter: brightness(100%);
}
.cardImage:hover{
  filter: brightness(100%);
  transform: scale(1.3);
}
/* card container  */
.cardSection{
  margin-bottom: 50px;
  max-width: 1150px;
}
/* card button */
.cardbutton{
  border-radius: 10px !important;
  margin-left: auto !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
}

/* span1 of the card AED reject value */
.span1{
  color: red;
  font-family: bold;
    font-weight: 600;
}
.span2{
  font-family: bold;
    font-weight: 600;
}
.mainslider{
  margin-left: 40px;
}
@media (max-width: 767.98px){
  .mainslider{
    width: 90%;
  }
}
@media (max-width: 575.98px){

}
.newdealimg{
  position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}


