/* headings  */
.heading{
     font-size: 48px;
    line-height: 58px;
    color: #002240;
    font-weight: 700;
    font-weight: style-ui;
}
.body{
     padding: 25px 0px;
  
}
.hr{
     border-bottom: 6px solid blue;
    max-width: 30px;
    margin: 5px auto 15px 0;
}
.cardaction{
     padding-right: 157px;
    background-color: lightgray;
    border-radius: 5px;
}
.cardaction span{
     padding: 10px 2px;
}
.card{
     width: 75% !important;
     height: 270px !important;
}
.review{
     
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3; /* number of lines to show */
          line-height: X;       
          max-height: X*N;      
}

.typotitle{
     white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}