html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Home Crousel Button css */
.modifiedSlickBtn .slick-prev:before {
  content: '←';
  display: none!important;
}
.modifiedSlickBtn .slick-next:before {
  content: '←';
   display: none!important;
 }
/* .modifiedSlickBtn .slick-next:before {
 content: '';
    border: solid #fff;
    display: inline;
    border-width: 0px 2px 2px 0px;
    padding: 15px;
    position: absolute;
    top: calc(50% - 30px)!important;
    transform: rotate(137deg);
    left: -4px;
  /* display: none!important; */
 
/* Blog page top search bar global css */
.blogsearchbarGlobalCss .form-control{
  margin-left: auto !important;
  margin-right: auto !important;
  width: 50% !important;

}
p{
  font-size: 14px;
}

/* @media(min-width:1200px){
.container {
  max-width: 1170px !important;
}
} */